body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }
  .header {
    align-items: center;
    background-color: #FFB0B0/*#B4AEE8*/;
    color: #537EC5;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  .header__img {
    margin-top: 35px ;  
    margin-left: 10px;
    width: 250px;
  }
  .login{
      background:linear-gradient(#FFB0B0,#6B76FF/*#B4AEE8,#93329E*/);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0px 30px;
      min-height: calc(100vh - 200px);
  }
  .login__container{
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid white;
      border-radius: 40px;
      color: white;
      padding: 60px 68px 40px;
      min-height: 700px;
      width: 300px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
      
  }
  .login__container--form{
      display: flex;
      flex-direction: column;
  }
  .login__container--form label{
      font-size: 14px;
  }
  .login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top:10px ;
  }
  .login__container--remember-me a{
      color: white;
      font-size: 14px;
      text-decoration: none;
  }
  .login__container--remember-me a:hover{
      text-decoration: underline;
  }
  .login__container--social-media >div{
      display: flex;
      align-items:center;
      font-size: 14px;
      margin-bottom:10px ;
      cursor: pointer; 
      /*flex-direction: column;*/   
  }
.login__container--social-media > div > img{
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}
.login__container--register{
    font-size: 14px;
    
}
.login__container--register a{
   font-size: 17px;
   color: white;
   font-weight: bold;
   text-decoration: none; 
   
}
.login__container--register a:hover{
text-decoration: underline;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif ;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;

}
::placeholder{
    color: white;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border:none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Muli', sans-serif ;
    height: 50px;
    letter-spacing: 1px;
    margin:10px 0px;
}
.footer{
    background-color:#6B76FF /* #93329E*/ ;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    padding-left:30px ;
}
.footer a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    .header{
        justify-content: center;
    }
    .login{
        margin-top: -2px;
    }
    .login__container{
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
    }
    .login__container--remember-me{
        align-items: center;
    }
    .login__container--remember-me label{
        display: flex;
        align-items: center;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 21px;
        margin-top: -2px;
        justify-content: space-evenly;
    }
}